@model SportStore.Models.Entities.Product

    <div class="d-flex flex-column">
        <h1 class="w-100">@Model.Name</h1>
        <div class="w-100 d-flex">
            <div class="w-50 product-details-img d-flex justify-content-center">
                <img src="@Model.Image" alt="@Model.Name" class="mw-100 mh-100" />
            </div>
            <div class="w-50 border">
                <div class="d-flex align-items-center p-4">
                    @if (Model.Discount > 0)
                    {
                        <p class="old-price"><del>@Model.Price</del></p>
                        <p class="h4 text-danger">@(Decimal.ToDouble(Model.Price) * (1 - Model.Discount)) UAN</p>
                    }
                    else
                    {
                        <p class="h4">@Model.Price UAN</p>
                    }
                    @if (Model.Amount > 0)
                    {
                        <form asp-controller="Cart" asp-action="AddToCart" method="post" class="margin-left-15">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <input type="hidden" value="@string.Format("{0}{1}",Context.Request.Path, Context.Request.QueryString)" name="returnUrl" />
                            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-shopping-cart"></span> <b>Add to cart</b></button>
                        </form>
                    }
                    else
                    {
                        <form method="post" class="margin-left-15">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-shopping-cart"></span> <b>Add to cart</b></button>
                        </form>
                    }
                </div>
                <p class="p-4">@Model.Description</p>
            </div>
        </div>
    </div>
