@model ProductsViewModel


<div class="w-100 shadow bg-white p-3">
    <div class="w-100 d-flex align-items-baseline justify-content-between">
        <form asp-controller="Products" asp-action="Index" method="post">
            <input type="text" name="searchString" placeholder="Search">
            <input type="submit" value="Search" class="btn btn-primary">
        </form>
        <form asp-controller="Products" asp-action="Index" method="post">
            <select name="sortOrder" asp-items="@ViewBag.SortOrders"></select>
            <input type="submit" value="Sort" class="btn btn-primary">
        </form>
        <form asp-controller="Products" asp-action="Index" method="post">
            <select name="category" aria-placeholder="Category" asp-items="@Model.Categories"></select>
            <input type="submit" value="Filter" class="btn btn-primary">
        </form>
    </div>
    <br>
    <div class="products-list">
        @foreach (var product in Model.Products)
        {
            <div class="product-item shadow p-2 d-flex flex-column align-items-center border position-relative @((product.Amount == 0)? "opacity-40" : "")">
                <a asp-controller="Products" asp-action="Details" asp-route-category="@product.Category.Name" asp-route-name="@product.Name" asp-route-id="@product.Id" class="product-item-img">
                    <img src="@product.Image" alt="@product.Name" class="mw-100 mh-100">
                </a>
                <div>
                    <a class="w-100 h3">@product.Name</a>
                    <div class="w-100 d-flex justify-content-between position-absolute fixed-bottom p-3">

                        <h4 class="mr-auto"><b>@product.Price грн.</b></h4>
                        <form action="" method="post">
                            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-shopping-cart"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />

<page-link page-model="Model.PageModel" page-action="Index" sort-order="@Model.SortViewModel.Current" search-string="@Model.SearchString" category-filter="@Model.CurrentCategory"></page-link>

